@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
@import './Helper.scss';

$outline-color: rgba(106, 106, 106, 0.418);

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    h4{
        font-size: 1rem;
    }
    span{
        font-size: 1rem;
    }
}

.main{
    height: 100vh;
    width: 400px;
    margin: auto;
}

.gradient{
    height: 100vh;
    display: flex;
    background-image: linear-gradient(white,white,rgba(128, 128, 128, 0.307));
}

.box{
    border-radius: 3px;
    outline: 1px solid $outline-color;
    box-shadow: 0px 2px $outline-color;
    background-color: white;
}

.form-input{
    label{
        padding-bottom: 5px;
        font-size: 0.75rem;
    }
    input{
        padding: 4px;
        margin-bottom: 10px;
    }
}

.btn{
    color: white;
    padding: 8px;
    width: 100%;
    border: $outline-color;
    background-color: rgb(140, 71, 200);
}

.history{
    height: 40%;
    section{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    ul{
        width: 100%;
        height: 100%;
    }
    li{
        list-style: none;
        width: 90%;
        margin: 5px;
        @extend .box;
    }
    .green{
        border-right: 10px solid rgb(69, 223, 69);
    }
    .red{
        border-right: 10px solid rgb(223, 69, 69);
    }
}

.green{
    color: rgb(69, 223, 69);
}
.red{
    color: rgb(223, 69, 69);
}

.line
{
    height: 0px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.del{
    visibility: hidden;
    color: white;
    border: none;
    @extend .box;
    border-radius: 3px 0px 0px 3px;
    background-color: rgb(223, 69, 69);
    width: 20px;
}

.item
{
    &:hover{
        .del{
            visibility: visible;
            transform: translateX(-15px);
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $outline-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}